
.nav-item{
    display: flex;
    height: 120px;
    padding: 0px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000000;
}
.nav-link-accueil{
    color: #51ACE0;
}

.nav-link-offres{
    border: none;
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--c-2, #51ACE0);
    color: #FFFFFF;
}
#mon-menu{
    display: flex;
    opacity: 100%;
    
}
.navbar-collapse{
    flex-grow :inherit 
}
.d-flex{
    display: flex;
    padding: 12px 20px;
    align-items: center;
}
#search{
    background: var(--c-3, #434343);
    color: white;
    border: none;
    border-radius: 4px;
    display: flex;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
/*#apropos{
    margin-top: 0px;
    margin-bottom: 0px;
}*/
#apropos h6{
    color: #434343;
    /*leading-trim: both;
    text-edge: cap;*/
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
    text-transform: uppercase;
    display: flex;
    /*align-items: center;*/
    gap: 20px;
    align-self: stretch;
    margin-top: 70px;
}
#apropos hr{
    width: 100px;
    height: 1px;
    margin-top: 76px;
    background: #434343;
}
#apropos h3{

    /* T1 */
    font-family: Rammetto One;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    background: var(--c-7, linear-gradient(84deg, #07466A 30.21%, #51ACE0 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#apropos p{
    width: 100%;
    color: var(--black, #231F20);
    text-align: inherit;

    /* Normal */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}
#button{
    display: flex;
    padding: 10px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid var(--c-3, #434343);
    background-color: white;
    margin-left: 15px;
    cursor: pointer;
}
#description-block{
    background: var(--Couleur-5, linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), #FFF);
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 600px;
}
#description{
    margin: 60px 100px 150px 150px;
}

.apropos{
    background: linear-gradient(84deg, #07466A 99.99%, #51ACE0 100%);
    
    flex-shrink: 0;
    align-self: stretch;
    text-align: justify;
    width: 100%;
    align-items: center;
    padding: 90px 150px;
}
#textapropos h6{
    color: white;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}
#textapropos hr{
    width: 100px;
    height: 1px;
    margin-top: 6px;
    background-color: white;
}
#textapropos h3{
    color: white;

    /* T1 */
    font-family: Rammetto One;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
#textapropos p{
    color: var(--c-1, #FFF);

    /* Normal */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}
#vente h5{
    color: var(--c-1, #FFF);

    /* T4 */
    font-family: Rammetto One;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px; /* 157.143% */
    text-align: justify;
}
#vente p{
    color: var(--c-1, #FFF);

    /* Normal */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    text-align: justify;
}
#location h5{
    color: var(--c-1, #FFF);

    /* T4 */
    font-family: Rammetto One;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px; /* 157.143% */
    text-align: justify;
}
#location p{
    color: var(--c-1, #FFF);

    /* Normal */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    text-align: justify;
}
#syndic h5{
    color: var(--c-1, #FFF);

    /* T4 */
    font-family: Rammetto One;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px; /* 157.143% */
    text-align: justify;
}
#syndic p{
    color: var(--c-1, #FFF);

    /* Normal */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    text-align: justify;
}
#accompagnement h5{
    color: var(--c-1, #FFF);

    /* T4 */
    font-family: Rammetto One;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px; /* 157.143% */
    text-align: justify;
}
#accompagnement p{
    color: var(--c-1, #FFF);

    /* T4 */
    font-family: Rammetto One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    text-align: justify;
}
#formation h5{
    color: var(--c-1, #FFF);

    /* T4 */
    font-family: Rammetto One;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px; /* 157.143% */
    text-align: justify;
}
#formation p{
    color: var(--c-1, #FFF);

    /* T4 */
    font-family: Rammetto One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    text-align: justify;
}
#projets-perso{
    padding: 100px 150px 0px 150px;
    width: 100%;
    
}
#immobilier img{
    width: 537.75px;
    height: 565.547px;
    padding-bottom: 0px;
    padding-top: 80px;
    margin-bottom: 0%;
    flex-shrink: 0;
    background-color: rgb(209, 242, 253);
}
#experiments h3{
    height: 122px;
    align-self: stretch;
    /* T1 */
    font-family: Rammetto One;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    background: var(--c-7, linear-gradient(84deg, #07466A 30.21%, #51ACE0 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 60px;
}
#experiments p{
    /*align-self: stretch;*/
    color: var(--c-3, #434343);
    /* Normal */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}
#chiffres{
    margin-left: 0.5px;
}
#chiffres h5{
    color: var(--c-8, #FFAC0A);

    /* T1 */
    font-family: Rammetto One;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    
}
#chiffres p{
    color: var(--c-3, #434343);

    /* Normal */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}
#button1{
    display: flex;
    padding: 10px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid var(--c-3, #434343);
    background-color: white;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 0%;
}
#experiments-projects-chiffres{
    height: 200px;
}
.produits{
    width: 100%;
    padding:0px 150px;
    margin-top: 0px;
    background: var(--Couleur-5, linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), #FFF);
}
#produits h6{
    color: #434343;
    /*leading-trim: both;
    text-edge: cap;*/
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
    text-transform: uppercase;
    display: flex;
    gap: 20px;
    align-self: stretch;
    margin-top: 70px;
}
#produits hr{
    margin-top: 76px;
    width: 100px;
    height: 1px;
    background: #434343;
}
#textproduits h3{
    /* T1 */
    font-family: Rammetto One;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    background: var(--c-7, linear-gradient(84deg, #07466A 30.21%, #51ACE0 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#textproduits p{
    color: var(--black, #231F20);
    text-align: justify;

    /* Normal */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}
#voir_offres{
    display: flex;
    padding: 5px 25px;
    gap: 10px;
    border-radius: 5px;
    border-color: 1.5px solid var(--C7, linear-gradient(84deg, #07466A 30.21%, #51ACE0 100%));
    background-color: white;
    box-shadow: none;
}
footer{
    background: var(--c-3, #434343);
    flex-wrap: nowrap;
    
}
p{
    align-self: stretch;
    color: var(--c-1, #FFF);
    /* Normal */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}
.footer-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
    color: var(--c-1, #FFF);

    /* T4 */
    font-family: Rammetto One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */  
}
h5{
    align-self: stretch;
    color: white;
    /* T4 */
    font-family: Rammetto One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
.list{
    color: white;
    /*text-align: center;*/

    /* Normale 2 */
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.email{
    color: var(--c-1, #FFF);

    /* Normal */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    display: flex;
    padding: 15px 20px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid var(--c-1, #FFF);
    background-color: var(--c-3, #434343);
}
#condition{
    display: flex;
    padding: 12px 20px;
    align-items: center;
    gap: 14px;
    border-radius: 2px;
    border: 1px solid #D6D6D6;
    background: #FAFAFA;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
}

#condition p{
    color: var(--c-3, #434343);

/* Normal */
font-family: Ubuntu;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
}
.robot{
    width: 70px;
    height: 31.269px;
}
#submit{
    border-radius: 5px;
    border: 1px solid var(--c-2, #51ACE0);
    background: var(--c-2, #51ACE0);
    display: flex;
    padding: 15px 20px;
    align-items: flex-start;
}
#footer{
    border-bottom: 1px solid var(--c-1, #FFF);
    align-items: center;  
    margin: 20px 150px;
    padding: 50px 0px;
}
#copyright{
    color: var(--c-1, #FFF);
    text-align: center;
    align-self: stretch;
    /* Normal blanc */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}
.entete{
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.entete p{
    color: #000000;
}
.histoire{
    padding: 50px 150px;
    width: 100%;
    background: var(--Couleur-5, linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), #FFF);
}
.histoire h2{
    margin: 70px 287px 0px 0px;
    align-self: stretch;
    color: white;
    background: var(--c-7, linear-gradient(84deg, #07466A 30.21%, #51ACE0 100%));
    background-clip: text;
    text-align: center;
        /* T1*/
    font-family: Rammetto One;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    width: 100%;
}
.histoire p{
    margin-top: 20px;
    color: black;
    text-align: justify;
        /* Normal*/
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571%*/
}
.vision{
    padding: 50px 150px;
    width: 100%;
    background: var(--Couleur-5, linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), #FFF);
}
.vision h2{
    margin: 70px 287px 0px 0px;
    align-self: stretch;
    background: var(--c-7, linear-gradient(84deg, #07466A 30.21%, #51ACE0 100%));
    background-clip: text;
    color: white;
    text-align: center;
        /* T1*/
    font-family: Rammetto One;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    width: 100%;
}
.vision p{
    margin-top: 20px;
    color: black;
    text-align: justify;
        /* Normal*/
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571%*/
}
.auteurs{
    padding: 50px 150px;
    width: 100%;
    background: var(--Couleur-5, linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), #FFF);
}
.auteurs h2{
    margin: 70px 287px 0px 0px;
    align-self: stretch;
    background: var(--c-7, linear-gradient(84deg, #07466A 30.21%, #51ACE0 100%));
    background-clip: text;
    color: white;
    text-align: center;
        /* T1*/
    font-family: Rammetto One;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    width: 100%;
}
.auteurs p{
    margin-top: 20px;
    color: black;
    text-align: justify;
        /* Normal*/
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571%*/
}
.produits1{
    width: 100%;
    padding:0px 150px;
    margin-top: 0px;
    background: white;
}
#produits1 h6{
    color: #434343;
    /*leading-trim: both;
    text-edge: cap;*/
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
    text-transform: uppercase;
    display: flex;
    gap: 20px;
    align-self: stretch;
    margin-top: 70px;
}
#produits1 hr{
    margin-top: 76px;
    width: 100px;
    height: 1px;
    background: #434343;
}
#textproduits1 h3{
    /* T1 */
    font-family: Rammetto One;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    background: var(--c-7, linear-gradient(84deg, #07466A 30.21%, #51ACE0 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#textproduits1 p{
    color: var(--black, #231F20);
    text-align: justify;

    /* Normal */
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}